<p id="notice"><%= notice %></p>

<h2 class="todo_list_title"><%= @project.title %></h2>
<p class="todo_list_sub_title"><%= @project.description %></p>
<p>
<div id="todo_items_wrapper">
    <% if @project.tasks.any? %>
    <div class="panel-body" id="tasks">
	<%= render partial: 'tasks/task', collection: @project.tasks%>
    </div>
  <%else%>
    <div class="panel-body hidden" id="tasks">
    </div>
  <%end%>
	<%= render "tasks/form" %>
</div>

<div class="links">

	<%= link_to 'Edit', edit_project_path(@project) %> |
	<%= link_to 'Back', projects_path %> |
	<%= link_to 'Delete', project_path(@project), method: :delete, data: {confirm: "Are you sure?"} %>
</div>