<div class="project_detail <%= @project.id %>">
<p id="notice"><%= notice %></p>

<% if (notice.present?) %>
    <script type="text/javascript">
      $(document).ready(function() {
          $.ajax({
              url: "/projects/project_update_request",
              type: "POST",
              dataType: "json",
              beforeSend: function(xhr) {xhr.setRequestHeader("X-CSRF-Token", $("meta[name='csrf-token']").attr("content"))},
              data: {"id": <%= @project.id %>},
              success: function(response){
                  console.log(response);
              }
          });
      });
    </script>
<% end %>

<div class="project_description">
  <%= render :partial => 'projects/project_template/title_description', locals: {:project => @project} %>
</div>
<div id="todo_items_wrapper">
  <% if @project.tasks.any? %>
    <div class="panel-body" id="tasks" data-project="<%= @project[:id] %>">
      <%= render partial: 'tasks/task', collection: @project.tasks, locals: {:project => @project}%>
    </div>
  <%else%>
    <div class="panel-body hidden" id="tasks" data-project="<%= @project[:id] %>"></div>
  <%end%>
  <% if (current_user.id == @project.user_id) %>
    <%= render "tasks/form" %>
    <%= form_tag({:action => 'send_link_action', :controller => 'projects'},:class => 'url_area', :remote => true, :method => 'post') do %>
      <input type="text" class="url_link form-control" name="url_link" disabled />
      <input type="hidden" class="form-control" name="project_id" value="<%= @project[:id] %>"  />
      <%= select_tag 'user', options_for_select(@user_all.collect{ |user| [user.email, user.id]}),  :class => 'form-control select_user' %>
      <button type="button" class="btn btn-make-link">share this project</button>
      <button type="submit" class="btn btn-send-link" style="display: none">Send</button>
      <button type="button" class="btn btn-cancel-link" style="display: none">cancel</button>
    <% end %>
  <% end %>
</div>
<% if (current_user.id == @project.user_id) %>
  <div class="links">
    <%= link_to 'Edit', edit_project_path(@project) %> |
    <%= link_to 'Back', projects_path %> |
    <%= link_to 'Delete', project_path(@project), method: :delete, data: {confirm: "Are you sure?"} %>
  </div>
<% end %>
</div>